.DS_Store

# Artifacts
Package.resolved
.build/

# User data
.swiftpm/
.vscode/
xcshareddata/
xcuserdata/
project.xcworkspace/

# Fixtures
Fixtures/**/Package.swift

# Example
Example/**/Package.swift
Example/bin/
