.DS_Store
.swiftpm
.build
Package.resolved
/Tests/AllTests/FixtureProject/FixtureProject.xcworkspace/xcuserdata
/Tests/AllTests/FixtureProject/FixtureProject.xcworkspace/xcshareddata
/Tests/**/Package.swift
